body {
  background-color: black;
  height: 100%;
}

header img {
  margin: 20px;
  width: 150px;
}

header {
  margin-bottom: 50px;
}

.container h1 {
  font-size: 5em;
  margin-top: 80px;
}

.edit-profile {
  display: flex;
  justify-content: center;
}

.edit-profile {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background-color: #01ff85;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-profile {
  height: 60px;
}

.text {
  color: white;
}

button {
  border: 1px solid white;
  opacity: 0.5;
}

.btn-outline-light:hover {
  background-color: white;
  color: #212529;
}
